/* Основні стилі */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

:root {
  --main-color: #448;
  --second-color: #88c;
  --third-color: #ccd;
  --bg-color: #222;
}

main {
  min-height: calc(100vh - 120px);
}

/* Форма пошуку */
.search-form-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.search-stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 0;
  text-indent: 0;
  color: var(--third-color);
  font-size: 11px;
}

.total-amount-number {
  font-weight: 700;
  font-size: 12px;
}

.form {
  display: flex;
  gap: 8px;
}

.form input {
  width: 272px;
  padding: 8px 16px;
  border: 1px solid var(--second-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  color: #2e2f42;
  outline: none;
  transition: border-color 0.25s ease;
}

.form input:focus {
  border-color: #222;
}

.form .submit-btn {
  width: 90px;
  border: none;
  border-radius: 4px;
  background-color: var(--main-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.form .submit-btn:hover {
  background-color: var(--second-color);
}

/* Галерея */
.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px 8px;
  padding: 0;
  margin: 0 0 16px;
  list-style: none;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--third-color);
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0 0 0 / 0.1);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.gallery-item:hover {
  box-shadow: 0 5px 5px -2px rgba(0 0 0 / 0.3);
  transform: scale(1.03);
}

.gallery-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.gallery-image {
  width: 100%;
  aspect-ratio: 8 / 5;
  object-fit: cover;
  display: block;
}

.image-counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  font-weight: 700;
  color: #fffa;
  text-shadow: 0 0 2px #000a;
  background-color: #0002;
  border-bottom-left-radius: 4px;
  padding: 0 4px 1px;
  z-index: 5;
}

.image-info {
  display: flex;
  justify-content: space-around;
  padding: 4px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-label {
  margin: auto;
  color: var(--third-color);
}

.info-value {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: var(--main-color);
}

/* SimpleLightbox - корекція для деяких стилів */
.sl-overlay {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: var(--bg-color);

  will-change: opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.sl-image {
  box-shadow:
    0 0 8px #0008,
    0 0 20px #0004,
    0 0 48px #0004;
}

.sl-wrapper .sl-navigation button,
.sl-wrapper .sl-close,
.sl-wrapper .sl-counter {
  color: #fff;
}

/* Лоадер */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: var(--main-color);
  display: block;
  margin: 100px auto;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader.is-hidden,
.load-more.is-hidden {
  display: none;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Кнопка Load more */
.load-more {
  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  background-color: var(--third-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-color);
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.25s ease;
}

.load-more:hover {
  background-color: var(--second-color);
  color: #fff;
}
